In [50]:
import pandas as pd
import numpy as np
import re

# preprocessing Houses-by-suburb file

In [51]:
# Load dataset
median_house_prices = pd.read_csv('Houses-by-suburb.csv')

median_house_prices

,Locality,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Change Percentage 13-23
0,ABBOTSFORD,792500,862500,925000,1187500,1280000,1192500,1050000,1200000,1365000,1346000,1250000,58.0
1,ABERFELDIE,947500,1045000,1207500,1300000,1471000,1498500,1390000,1520000,1858000,1900000,1631000,72.0
2,AINTREE,-,-,600000,600000,571000,557500,575000,616000,713500,756000,748000,NaN
3,AIREYS INLET,664000,625500,680000,715000,737500,869000,985000,1132500,1775000,1725000,1675000,152.0
4,AIRPORT WEST,532000,575000,635000,742000,845000,845000,795000,812500,960000,911000,945000,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
782,YARRAM,190000,202500,245000,230000,225000,218000,240000,260000,360000,470000,395000,108.0
783,YARRAVILLE,696000,710000,810000,900500,1000000,1045000,971000,1030000,1185000,1210000,1100000,58.0
784,YARRAWONGA,302500,297000,300500,320000,324500,345000,375000,456500,564500,670000,640000,112.0
785,YEA,260000,255000,260000,305000,385000,390000,435500,422500,570000,617500,550000,112.0
786,YINNAR,220000,240000,182500,230000,270000,245000,255000,292500,465000,550500,567500,158.0

## Check for duplicates and missing values

In [52]:
# check the duplicated base on Locality
duplicate_counts = median_house_prices.duplicated(subset='Locality').sum()
print(f"duplicate_counts:{duplicate_counts}\n")

# find any missing values in dataset
missing_data_counts = median_house_prices.isnull().sum()
print(f"missing_data_counts:\n{missing_data_counts}")

duplicate_counts:0

missing_data_counts:
Locality                    0
2013                        0
2014                        0
2015                        0
2016                        0
2017                        0
2018                        0
2019                        0
2020                        0
2021                        0
2022                        0
2023                        0
Change Percentage  13-23    8
dtype: int64

## Handle missing values (e.g. "-", "NA")

 using Regular Expressions to normalize

In [53]:
# Using regular expressions, standardize the data that should appear in each column.
patterns = {
    'Locality': r'[A-Z\s]+',  # Capital letters and Spaces only, used to match place names
    '2013': r'\d{1,7}',  # One to seven digits
    '2014': r'\d{1,7}',
    '2015': r'\d{1,7}',
    '2016': r'\d{1,7}',
    '2017': r'\d{1,7}',
    '2018': r'\d{1,7}',
    '2019': r'\d{1,7}',
    '2020': r'\d{1,7}',
    '2021': r'\d{1,7}',
    '2022': r'\d{1,7}',
    '2023': r'\d{1,7}',
    'Change Percentage  13-23': r'-?\d{1,3}'   # One to three digits
}

# Initialize the Boolean marked, default to True (all lines are preserved)
marked = pd.Series([True] * len(median_house_prices))

# Traverse each column for a Regex
for column, pattern in patterns.items():
    marked = marked & median_house_prices[column].apply(lambda x: bool(re.match(pattern, str(x))))

# Keep the matching rows
cleaned_median_house_prices = median_house_prices[marked]

## Save the cleaned house prices data

In [54]:
# Save the cleaned data
cleaned_median_house_prices.to_csv('cleaned_median_house_prices.csv', index=False)

print(" House prices cleaning complete. Cleaned data saved to 'cleaned_median_house_prices.csv'.")

 House prices cleaning complete. Cleaned data saved to 'cleaned_median_house_prices.csv'.

### Double-checked, and this also adjusts the price data to integer for.

In [55]:
median_house_prices_2 = pd.read_csv('cleaned_median_house_prices.csv')
median_house_prices_2.info()

# find any missing values in dataset
missing_data_counts_2 = median_house_prices_2.isnull().sum()
print(f"missing_data_counts:\n{missing_data_counts_2}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 775 entries, 0 to 774
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Locality                  775 non-null    object
 1   2013                      775 non-null    int64
 2   2014                      775 non-null    int64
 3   2015                      775 non-null    int64
 4   2016                      775 non-null    int64
 5   2017                      775 non-null    int64
 6   2018                      775 non-null    int64
 7   2019                      775 non-null    int64
 8   2020                      775 non-null    int64
 9   2021                      775 non-null    int64
 10  2022                      775 non-null    int64
 11  2023                      775 non-null    int64
 12  Change Percentage  13-23  775 non-null    float64
dtypes: float64(1), int64(11), object(1)
memory usage: 78.8+ KB
missing_data_counts:
Locality                    0
2013                        0
2014                        0
2015                        0
2016                        0
2017                        0
2018                        0
2019                        0
2020                        0
2021                        0
2022                        0
2023                        0
Change Percentage  13-23    0
dtype: int64

# preprocessing LGA Offences file

In [56]:
offences03 = pd.read_excel('LGA Offences.xlsx', sheet_name='Table 03')
offences01 = pd.read_excel('LGA Offences.xlsx', sheet_name='Table 01')
offences03.info()
offences01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361967 entries, 0 to 361966
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Year                   361967 non-null  int64
 1   Year ending            361967 non-null  object
 2   Local Government Area  361967 non-null  object
 3   Postcode               361967 non-null  int64
 4   Suburb/Town Name       361967 non-null  object
 5   Offence Division       361967 non-null  object
 6   Offence Subdivision    361967 non-null  object
 7   Offence Subgroup       361967 non-null  object
 8   Offence Count          361967 non-null  int64
dtypes: int64(3), object(6)
memory usage: 24.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 870 entries, 0 to 869
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         870 non-null    int64
 1   Year ending                  870 non-null    object
 2   Police Region                870 non-null    object
 3   Local Government Area        870 non-null    object
 4   Offence Count                870 non-null    int64
 5   Rate per 100,000 population  830 non-null    float64
dtypes: float64(1), int64(2), object(3)
memory usage: 40.9+ KB

In [57]:
# Using regular expressions, standardize the data that should appear in each column.
patterns03 = {
    'Year':r'(?:2014|2015|2016|2017|2018|2019|2020|2021|2022|2023)',  # Matches four digit years
    'Year ending': r'December', # only one end month
    'Local Government Area': r'[A-Za-z\s]+',  # Contains only letters and Spaces
    'Postcode':r'\d{4}',  # Four digit zip code
    'Suburb/Town Name':r'[A-Za-z\s]+',  # Place names contain only letters and Spaces
    'Offence Division':r'[A-Z]\s[A-Za-z\s]+',
    'Offence Subdivision': r'[A-Za-z\s]+',
    'Offence Subgroup':r'[A-Za-z\s]+',
    'Offence Count': r'\d+'  # A number
}


marked = pd.Series([True] * len(offences03))

for column, pattern in patterns03.items():
    marked = marked & offences03[column].apply(lambda x: bool(re.match(pattern, str(x))))

cleaned_offences = offences03[marked]

cleaned_offences.info()


patterns01 = {
    'Year':r'(?:2014|2015|2016|2017|2018|2019|2020|2021|2022|2023)',  # Matches four digit years
    'Year ending':r'December', # only one end month
    'Police Region':r'\d\s[A-Za-z\s]+',
    'Local Government Area':r'[A-Za-z\s]+',  
    'Offence Count':r'\d+',  # A number
    'Rate per 100,000 population': r'\d+\.\d{1}' # A number with one decimal place
}

marked01 = pd.Series([True] * len(offences01))

for column, pattern in patterns01.items():
    marked01 = marked01 & offences01[column].apply(lambda x: bool(re.match(pattern, str(x))))

cleaned_offences01 = offences01[marked01]
cleaned_offences01 = cleaned_offences01.copy()
# Keep the 'Rate per 100,000 population' column one decimal place
cleaned_offences01['Rate per 100,000 population'] = cleaned_offences01['Rate per 100,000 population'].round(1)


cleaned_offences01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361967 entries, 0 to 361966
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Year                   361967 non-null  int64
 1   Year ending            361967 non-null  object
 2   Local Government Area  361967 non-null  object
 3   Postcode               361967 non-null  int64
 4   Suburb/Town Name       361967 non-null  object
 5   Offence Division       361967 non-null  object
 6   Offence Subdivision    361967 non-null  object
 7   Offence Subgroup       361967 non-null  object
 8   Offence Count          361967 non-null  int64
dtypes: int64(3), object(6)
memory usage: 24.9+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 830 entries, 0 to 865
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         830 non-null    int64
 1   Year ending                  830 non-null    object
 2   Police Region                830 non-null    object
 3   Local Government Area        830 non-null    object
 4   Offence Count                830 non-null    int64
 5   Rate per 100,000 population  830 non-null    float64
dtypes: float64(1), int64(2), object(3)
memory usage: 45.4+ KB

## save the cleaned offences data

In [58]:
cleaned_offences.to_csv('cleaned_offences.csv', index=False)
cleaned_offences01.to_csv('cleaned_offences_by_police_region.csv',index=False)

# join LGA Offences file with house-by-suburb file

## 1: mach the same name of Locality and Suburb/Town Name

In [59]:
# Load the two data sets again
cleaned_median_house_prices = pd.read_csv('cleaned_median_house_prices.csv')
cleaned_offences = pd.read_csv('cleaned_offences.csv')

# Convert the Locality column and Suburb/Town Name column to uppercase for a consistent match.
cleaned_median_house_prices['Locality'] = cleaned_median_house_prices['Locality'].str.upper()
cleaned_offences['Suburb/Town Name'] = cleaned_offences['Suburb/Town Name'].str.upper()

# The inner join keeps only the rows that match
inner_merged_data = pd.merge(
    cleaned_median_house_prices,
    cleaned_offences,
    left_on='Locality',
    right_on='Suburb/Town Name',
    how='inner'  
)

matched_median_house_prices = cleaned_median_house_prices[
    cleaned_median_house_prices['Locality'].isin(inner_merged_data['Locality'])
]

matched_offences = cleaned_offences[
    cleaned_offences['Suburb/Town Name'].isin(inner_merged_data['Suburb/Town Name'])
]

### 2: Adds a column of 'House Price' to matched_offences and matches the house price data in matched_median_house_prices by year and location. Save in a new csv file called "matched_offences_with_house_price.csv"

In [60]:
matched_offences_with_house_price = matched_offences.copy()
matched_offences_with_house_price['House Price'] = None

for index, row in matched_offences_with_house_price.iterrows():
    # Gets the year and Suburb/Town Name from matched_offences
    year = str(row['Year'])  # Make sure the year is a string
    suburb_name = row['Suburb/Town Name']

    # Check matched_median_house_prices for a corresponding Locality and year column
    if year in matched_median_house_prices.columns:
        # Find a matching row
        matched_house_price_row = matched_median_house_prices[
            matched_median_house_prices['Locality'] == suburb_name
        ]

        # If the corresponding row is found and the year column for that row is not empty
        if not matched_house_price_row.empty:
            # Get the house price for that year and fill in the House Price column for matched_offences
            house_price = matched_house_price_row[year].values[0]
            matched_offences_with_house_price.at[index, 'House Price'] = house_price

### 3: Save matched_offences_with_house_price
This data mach matched_offences with the house price in correct year and local name

In [61]:
matched_offences_with_house_price.to_csv('matched_offences_with_house_price.csv', index=False)

# Classified matched_offences_with_house_price in different size of region

### 1: group by Suburb/Town Name and LGA and ensure that data from 2014 to 2023 exists in each region

In [62]:
required_data=matched_offences_with_house_price[['Suburb/Town Name', 'Year', 'Local Government Area', 'House Price', 'Offence Count']]

# Define the years of interest
years_of_interest = range(2014, 2024)

# Filter suburbs that have all the years of interest
suburbs_with_complete_data = (
    required_data
    .groupby('Suburb/Town Name')
    .filter(lambda x: set(years_of_interest).issubset(set(x['Year'])))
)

offence_and_housePrice_by_suburb = pd.DataFrame()

# Find all years.
years = suburbs_with_complete_data['Year'].unique()

for year in years:

    offences_by_year = suburbs_with_complete_data[suburbs_with_complete_data['Year'] == year]

    grouped_data = offences_by_year.groupby('Suburb/Town Name').apply(lambda x: pd.Series({
        'Year': x['Year'].iloc[0],
        'Local Government Area': x['Local Government Area'].iloc[0],
        'House Price': x['House Price'].iloc[0],
        'Offence Count': x['Offence Count'].sum()
    }),include_groups=False).reset_index()

    offence_and_housePrice_by_suburb = pd.concat([offence_and_housePrice_by_suburb, grouped_data],ignore_index=True)

# Find the LGA average house price and total number of crimes.
offence_and_housePrice_by_LGA = offence_and_housePrice_by_suburb.groupby(['Local Government Area', 'Year']).apply(lambda x: pd.Series({
    'House Price': x['House Price'].mean(),
    'Offence Count': x['Offence Count'].sum()
}),include_groups=False).reset_index()

# New ways to store house prices and crime in suburbs
offence_and_housePrice_by_suburb = suburbs_with_complete_data.groupby(['Suburb/Town Name', 'Year']).apply(lambda x: pd.Series({
    'House Price': x['House Price'].mean(),
    'Offence Count': x['Offence Count'].sum()
}),include_groups=False).reset_index()

### 2: group by Police Region

In [63]:

# Load the data sets again
offences_data_region=pd.read_csv('cleaned_offences_by_police_region.csv')
offences_data_region = offences_data_region[['Police Region','Local Government Area']].drop_duplicates()
# offences_data_region.to_csv('offences_data_region.csv', index=False)
offences_data_region['Local Government Area'] = offences_data_region['Local Government Area'].str.strip()
offence_and_housePrice_by_LGA['Police Region'] = None

# Find the police region corresponding to the LGA data
for index, row in offence_and_housePrice_by_LGA.iterrows():
    lga = row['Local Government Area']

    police_region = offences_data_region.loc[offences_data_region['Local Government Area'] == lga, 'Police Region']
    if not police_region.empty:
        offence_and_housePrice_by_LGA.loc[index, 'Police Region'] = police_region.iloc[0]


offences_data_region = offence_and_housePrice_by_LGA.groupby(['Police Region', 'Year']).apply(lambda x: pd.Series({
    'House Price': x['House Price'].mean(),
    'Offence Count': x['Offence Count'].sum()
}),include_groups=False).reset_index()

# drop the Police Region columns
offence_and_housePrice_by_LGA.drop(columns=['Police Region'], inplace=True)

### 3: Save files in three different category ways

In [64]:
offence_and_housePrice_by_suburb.to_csv('offence_and_housePrice_by_suburb.csv', index=False)
offence_and_housePrice_by_LGA.to_csv('offence_and_housePrice_by_LGA.csv', index=False)
offences_data_region.to_csv('offence_and_housePrice_by_police_region.csv', index=False)

# join house-by-suburb file with LGA Offences file


### 1: Split LGA Offences file by year and find the total Offence Count for each region

In [65]:
# Find all years.
years = offences03['Year'].unique()
years = np.flip(years)

matched_house_prices_with_offences = matched_median_house_prices.copy()

for year in years:
    offences_by_year = matched_offences[matched_offences['Year'] == year]
    
    # Group and sum Offence counts by Suburb/Town Name
    offence_count_by_suburb = offences_by_year.groupby('Suburb/Town Name')['Offence Count'].sum().reset_index()
    offence_count_by_suburb.rename(columns={'Offence Count': f'{year} offence count'}, inplace=True)

    # left join, keeping all matched_house_prices_with_offences data
    matched_house_prices_with_offences = pd.merge(
        matched_house_prices_with_offences,
        offence_count_by_suburb,
        left_on='Locality',
        right_on='Suburb/Town Name',
        how='left'  
    )

    # Deletes the duplicate 'Suburb/Town Name' column
    matched_house_prices_with_offences.drop(columns=['Suburb/Town Name'], inplace=True)

### 2: Save the dataset as matched_house_prices_with_offences

In [66]:
matched_house_prices_with_offences.to_csv('matched_house_prices_with_offences.csv', index=False)

# Encode offences with house price

In [46]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

offence_with_house=pd.read_csv('matched_offences_with_house_price.csv')
# encoding data
X_df = OrdinalEncoder().fit_transform(offence_with_house[['Year','Year ending','Local Government Area','Postcode','Suburb/Town Name','Offence Division','Offence Subdivision','Offence Subgroup']])
X_df = pd.DataFrame(X_df, columns=['Year', 'Year ending', 'Local Government Area', 'Postcode', 'Suburb/Town Name', 'Offence Division', 'Offence Subdivision', 'Offence Subgroup'])

offence_with_house_selected = offence_with_house[['Offence Count', 'House Price']]

merged_df = pd.concat([X_df, offence_with_house_selected], axis=1)

merged_df.to_csv('encode_offence_with_house_price.csv', index=False)

# new processing: add change percentage in offence_and_housePrice_by_suburb.csv

In [49]:
import pandas as pd

# load the data sets
file_path = 'offence_and_housePrice_by_suburb.csv'
offence_and_housePrice_by_suburb = pd.read_csv(file_path)

# Initialize a list to store the change percentages for each suburb
change_percentages = []

grouped_offence_and_housePrice_by_suburb = offence_and_housePrice_by_suburb.groupby('Suburb/Town Name')

for suburb, group in grouped_offence_and_housePrice_by_suburb:

    # group data in the minimum and maximum years
    min_year = group['Year'].min()
    max_year = group['Year'].max()
    data_min_year = group[group['Year'] == min_year]
    data_max_year = group[group['Year'] == max_year]

    # Extract house price and offence count for both minimum and maximum years
    house_price_min = data_min_year.iloc[0]['House Price']
    house_price_max = data_max_year.iloc[0]['House Price']
    offence_count_min = data_min_year.iloc[0]['Offence Count']
    offence_count_max = data_max_year.iloc[0]['Offence Count']

    # Calculate the percentage change for house price and offence count
    house_price_change = round((house_price_max - house_price_min) / house_price_min,4)
    offence_count_change = round((offence_count_max - offence_count_min) / offence_count_min,4)
    change_percentage = [suburb, 'change percentage', house_price_change, offence_count_change]
    change_percentages.append(change_percentage)

# Create a DataFrame from the change percentages, concatenate it with the original DataFrame, and sort by 'Suburb/Town Name' and 'Year'
change_percentages = pd.DataFrame(change_percentages, columns=['Suburb/Town Name', 'Year', 'House Price', 'Offence Count'])
change_percentages.drop(columns=['Year'], inplace=True)
change_percentages.to_csv('change_percentages.csv',index=False)

# ignore years for House price and Offences count

### average suburb

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

file_path = 'offence_and_housePrice_by_suburb.csv'
offence_and_housePrice_by_suburb = pd.read_csv(file_path)
average_suburb = offence_and_housePrice_by_suburb.groupby('Suburb/Town Name')[['House Price', 'Offence Count']].mean().reset_index()
average_suburb.to_csv('average_suburb.csv',index=False)

### average LGA

In [2]:
import pandas as pd

file_path = 'offence_and_housePrice_by_LGA.csv'
offence_and_housePrice_by_LGA = pd.read_csv(file_path)
average_LGA = offence_and_housePrice_by_LGA.groupby('Local Government Area')[['House Price', 'Offence Count']].mean().reset_index()
average_LGA.to_csv('average_LGA.csv',index=False)

### average Police region

In [3]:
import pandas as pd

file_path = 'offence_and_housePrice_by_police_region.csv'
offence_and_housePrice_by_police_region = pd.read_csv(file_path)
average_police_region = offence_and_housePrice_by_police_region.groupby('Police Region')[['House Price', 'Offence Count']].mean().reset_index()
average_police_region.to_csv('average_police_region.csv',index=False)